{% extends "analyzer/base.html" %}

{% block content %}
<div class="container">
    <h2 class="sub-header">الصفحة الرئيسية</h2>
    <div class="cta-buttons">
        <a href="/upload" class="btn-secondary">
            <span class="icon">📁</span>
            تحميل ملف CSV
        </a>
        <a href="/twitter" class="btn-secondary">
            <span class="icon">🐦</span>
            تحليل تويتر
        </a>
        <a href="/manage-dictionary" class="btn-secondary">
            <span class="icon">📖</span>
            إدارة القاموس
        </a>
    </div>    
</div>
{% endblock %}